.main-slider {
    height: 120px;

    &__wrapper {
        height: 90px;
        margin-bottom: 5px;
    }

    &__item {
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 0px 1px rgba(29, 35, 40, 0.08);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }

    &__item-img {
        position: relative;
        width: 100%;
        height: 100%;

        & > img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__button-prev {
        top: 45px;
        color: rgb(238, 144, 22);
        left: 1px;
    }

    &__button-next {
        top: 45px;
        color: rgb(238, 144, 22);
        right: 1px;
    }

    &__pagination {
        position: relative;
        bottom: 0 !important;

        & .swiper-pagination-bullet-active {
            background-color: rgb(238, 144, 22) !important;
        }
    }
}

@media (max-width: 480px) {
    
}